*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    font-style: normal;    
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #F26522;
}

.content {
    background-image: url(../Images/background.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.wrapper {
    margin: auto;
    width: 1366px;
    padding: 51px 178px 15px 165px;
}

.header {
    width: 1022px;
    display: flex;
    justify-content: space-between;
    border-bottom: 16px;    
}

.header-left {    
    width: 150px;
    display: flex;
    height: 51px;
}

.link-logo {
    display: flex;
    width: 150px;
    justify-content: flex-end;
    background-image: url(../Images/logo3.png);
    background-repeat: no-repeat;
}

.link-logo:hover {
    background-image: url(../Images/logo4.png);
}

.logo-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1px;       
}

.milan {
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    text-transform: uppercase;
}

.holidays {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;      
}

.header-right {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    height: 61px;
}

.email:hover {
    color: #F26522;
}

.number:hover {
    color: #F26522;
}

.menu {
    margin-top: 17px;
    width: 1022px;
    height: 596px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 61px;
}

.border-wrap {
    width: 300px;
    height: 219px;
    background: linear-gradient(to right, black, white);    
}

.img {
    padding: 5px;
    display: block;
    width: 300px;
    height: 219px;     
}

.img2 {
    height: 227px;    
}

.menu-item {
    display: block;
    height: 261px;
    text-align: center;
    position: relative;    
}

.menu-text {
    display: inline-block;
    padding-top: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.sight {
    padding-top: 13px;
}

.copyright {
    text-align: center;
    color: white;
    margin-top: 49px;
}

.box-wrapper {
    position: absolute;
    bottom: 42px;
    overflow: hidden;
}

.box {
    width: 300px;
    height: 55px;
    background-color: 
    #F26522;
    position: relative;
    bottom: -55px;
    transition: 0.8s ease;
    display: flex;
    justify-content: space-between;    
}

.menu-item:hover .box {
    position: relative;
    width: 300px;
    height: 55px;
    bottom: 0;
    color: white; 
}

.price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 6px 0 12px 16px;
}

.detailes {
    width: 110px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-right: 14px;
    margin-bottom: 15px;
}

.from {
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
}

.euro {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}


.view-detailes {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.view-detailes::after {
    content: url(../Images/Vector.png);
    margin-left: 16px;
}


